/* Global Styles */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23 23 23);
}

.main {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    place-items: center;
    height: 100vh;
}

:root {
    --font: calibri;
    --font-size: 1px;
}

/* Styles for both buttons */

.btn {
    padding: 1rem 2rem;
    border: none;
    position: relative;
    font-family: var(--font);
    font-size: calc(var(--font) * 20);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 1em;
    transform: all 0.5s cubic-bezier(.1,.66,1,.17);
    cursor: pointer;
}

/* First Buttons Starts Here */

.first {
    background: none;
    background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB   100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first:hover {
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #f0f1f8   100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    border: 12px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB   100%);
    transition: border 600ms, opacity 600ms cubic-bezier(.1,.66,1,.17);
}
.first:hover::before {
    opacity: 0;
}
.first::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: none;
    border: 12px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB   100%);
    opacity: 0;
    z-index: -1;
    transform: scaleX(1.4) scaleY(1.6);
    transition: opacity 500ms, transform 500ms cubic-bezier(.29,.57,.74,.32);
}
.first:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

/* The Second Buttons Starts here */
.second {
    overflow: hidden;
    background: none;
    background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB   100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second:hover {
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #f0f1f8   100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    inset: 0;
    border: 12px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB   100%);
    transition: opacity 50ms, transform 500ms cubic-bezier(.29,.57,.74,.32);
}
.second:hover::before {
    opacity: 0;
}
.second::after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    inset: 0;
    transform: translate(-22px, -55px) scale(0.2);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms, transform 500ms cubic-bezier(.29,.57,.74,.32);
}

.second:hover::after {
    opacity: 1;
    transform-origin: 500px 100px 500%;
    transform: scale(1) translate(-22px, -55px);
}

.btn:active {
    transform: translateY(4px);
}